In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [10]:
df = pd.read_clipboard()

In [11]:
df

   Nov 2017  Nov 2016  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  13.231%   -5.52%
1         2         2     NaN                    C   9.293%   +0.09%
2         3         3     NaN                  C++   5.343%   -0.07%
3         4         5  change               Python   4.482%   +0.91%
4         5         4  change                   C#   3.012%   -0.65%
5         6         8  change           JavaScript   2.972%   +0.27%
6         7         6  change    Visual Basic .NET   2.909%   -0.26%

In [12]:
type(df)  # 查看df的类型

pandas.core.frame.DataFrame

In [13]:
df.columns  # 查看df列的名称

Index(['Nov 2017', 'Nov 2016', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [14]:
df.Ratings  # 查看df某一列的数据

0    13.231%
1     9.293%
2     5.343%
3     4.482%
4     3.012%
5     2.972%
6     2.909%
Name: Ratings, dtype: object

In [29]:
df_new = DataFrame(df, columns=['Nov 2017','Programming Language', 'Ratings', 'Change.1'])  # 选取df的某几列

In [30]:
df_new

   Nov 2017 Programming Language  Ratings Change.1
0         1                 Java  13.231%   -5.52%
1         2                    C   9.293%   +0.09%
2         3                  C++   5.343%   -0.07%
3         4               Python   4.482%   +0.91%
4         5                   C#   3.012%   -0.65%
5         6           JavaScript   2.972%   +0.27%
6         7    Visual Basic .NET   2.909%   -0.26%

In [31]:
df['Nov 2017']  # 查看某一列

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: Nov 2017, dtype: int64

In [32]:
type(df['Nov 2017'])  # 只取一个column，他的类型返回的就是series

pandas.core.series.Series

In [33]:
new = DataFrame(df, columns=['Nov 2017','Programming Language', 'Ratings', 'Change.1', 'Nov 2018'])  # 新增一个数据列

In [34]:
new

   Nov 2017 Programming Language  Ratings Change.1  Nov 2018
0         1                 Java  13.231%   -5.52%       NaN
1         2                    C   9.293%   +0.09%       NaN
2         3                  C++   5.343%   -0.07%       NaN
3         4               Python   4.482%   +0.91%       NaN
4         5                   C#   3.012%   -0.65%       NaN
5         6           JavaScript   2.972%   +0.27%       NaN
6         7    Visual Basic .NET   2.909%   -0.26%       NaN

In [36]:
new['Nov 2018'] = range(0,7)  # 为新增的数据列添加数据

In [37]:
new

   Nov 2017 Programming Language  Ratings Change.1  Nov 2018
0         1                 Java  13.231%   -5.52%         0
1         2                    C   9.293%   +0.09%         1
2         3                  C++   5.343%   -0.07%         2
3         4               Python   4.482%   +0.91%         3
4         5                   C#   3.012%   -0.65%         4
5         6           JavaScript   2.972%   +0.27%         5
6         7    Visual Basic .NET   2.909%   -0.26%         6

In [38]:
new['Nov 2018'] = pd.Series([100,200], index=[1,2])  # 为新增的数据列某几行添加指定的数据

In [39]:
new

   Nov 2017 Programming Language  Ratings Change.1  Nov 2018
0         1                 Java  13.231%   -5.52%       NaN
1         2                    C   9.293%   +0.09%     100.0
2         3                  C++   5.343%   -0.07%     200.0
3         4               Python   4.482%   +0.91%       NaN
4         5                   C#   3.012%   -0.65%       NaN
5         6           JavaScript   2.972%   +0.27%       NaN
6         7    Visual Basic .NET   2.909%   -0.26%       NaN