In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
s1 = Series([1,2,3], index=['a','b','c'])

In [3]:
s1

a    1
b    2
c    3
dtype: int64

In [4]:
s2 = Series([4,5,6,7], index=['b','c','d','e'])

In [5]:
s2

b    4
c    5
d    6
e    7
dtype: int64

In [7]:
s1 + s2

a    NaN
b    6.0
c    8.0
d    NaN
e    NaN
dtype: float64

In [8]:
# dataframe 运算

In [11]:
df1 = DataFrame(np.arange(4).reshape(2,2), index=['a','b'], columns=['bj','sh'])

In [12]:
df1

   bj  sh
a   0   1
b   2   3

In [13]:
df2 = DataFrame(np.arange(9).reshape(3,3), index=['a','b','c'], columns=['bj','sh','gz'])

In [14]:
df2

   bj  sh  gz
a   0   1   2
b   3   4   5
c   6   7   8

In [15]:
df1 + df2

    bj  gz   sh
a  0.0 NaN  2.0
b  5.0 NaN  7.0
c  NaN NaN  NaN

In [23]:
df3 = DataFrame([[1,2,3],[4,5,np.nan],[7,8,9]], index=['a','b','c'], columns=['c1','c2','c3'])

In [24]:
df3

   c1  c2   c3
a   1   2  3.0
b   4   5  NaN
c   7   8  9.0

In [25]:
df3.sum()

c1    12.0
c2    15.0
c3    12.0
dtype: float64

In [26]:
df3.sum(axis=1)

a     6.0
b     9.0
c    24.0
dtype: float64

In [27]:
df3.min()

c1    1.0
c2    2.0
c3    3.0
dtype: float64

In [29]:
df3.min(axis=1)

a    1.0
b    4.0
c    7.0
dtype: float64

In [30]:
df3.max()

c1    7.0
c2    8.0
c3    9.0
dtype: float64

In [31]:
df3.describe()

        c1   c2        c3
count  3.0  3.0  2.000000
mean   4.0  5.0  6.000000
std    3.0  3.0  4.242641
min    1.0  2.0  3.000000
25%    2.5  3.5  4.500000
50%    4.0  5.0  6.000000
75%    5.5  6.5  7.500000
max    7.0  8.0  9.000000