In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
df1 = DataFrame({'城市':['北京','上海','广州'], '人口':[1000,2000,3000]})

In [7]:
df1

     人口  城市
0  1000  北京
1  2000  上海
2  3000  广州

In [8]:
df1['GDP'] = Series([1000,2000,1500])

In [9]:
df1

     人口  城市   GDP
0  1000  北京  1000
1  2000  上海  2000
2  3000  广州  1500

In [12]:
df2 = DataFrame({'城市':['北京','上海','广州'], '人口':[1000,2000,3000]})

In [13]:
gdp_map = {'北京':1000, '上海':2000, '广州':1500}

In [15]:
df2['GDP'] = df2['城市'].map(gdp_map)

In [16]:
df2

     人口  城市   GDP
0  1000  北京  1000
1  2000  上海  2000
2  3000  广州  1500

In [17]:
#replace in series

In [22]:
s1 = Series(np.arange(5))

In [23]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [24]:
s1.replace(1, np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
dtype: float64

In [25]:
s1.replace([1,2,3], [100,200,300])

0      0
1    100
2    200
3    300
4      4
dtype: int64