In [9]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
import webbrowser

In [11]:
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [12]:
df1 = pd.read_clipboard()

In [13]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [14]:
df1.to_clipboard()  # 把数据拿到粘贴板中

In [15]:
df1.to_csv('df1.csv', index=False)

In [16]:
!ls

Applications                         access.log
Array.ipynb                          access_clean.log
Array的inout和output.ipynb           anaconda
Dataframe.ipynb                      derby.log
Desktop                              df1.csv
Documents                            index.html
Downloads                            metastore_db
Library                              one_array.npy
Movies                               part-00001
Music                                seaborn-data
Pandas-DataFrame的IO操作.ipynb       two_array.npz
Pictures                             x.pkl
Public                               深入理解series和DataFrame.ipynb
Series.ipynb                         数组与矩阵运算.ipynb

In [17]:
df2 = pd.read_csv('df1.csv')

In [18]:
df2

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [19]:
# 把dataframe转换成json
df1.to_json()

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"SQL","12":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"HDF5 Format","6":"Feather Format","7":"Msgpack","8":"Stata","9":"SAS","10":"Python Pickle Format","11":"SQL","12":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"read_msgpack","8":"read_stata","9":"read_sas","10":"read_pickle","11":"read_sql","12":"read_gbq"},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":"to_msgpack","8":"to_stata","9":" ","10":"to_pickle","11":"to_sql","12":"to_gbq"}}'

In [20]:
# 把json转换成dataframe
pd.read_json(df1.to_json())

        Data Description Format Type          Reader        Writer
0                    CSV        text        read_csv        to_csv
1                   JSON        text       read_json       to_json
10  Python Pickle Format      binary     read_pickle     to_pickle
11                   SQL         SQL        read_sql        to_sql
12      Google Big Query         SQL        read_gbq        to_gbq
2                   HTML        text       read_html       to_html
3        Local clipboard        text  read_clipboard  to_clipboard
4               MS Excel      binary      read_excel      to_excel
5            HDF5 Format      binary        read_hdf        to_hdf
6         Feather Format      binary    read_feather    to_feather
7                Msgpack      binary    read_msgpack    to_msgpack
8                  Stata      binary      read_stata      to_stata
9                    SAS      binary        read_sas

In [21]:
# dataframe转换成html
df1.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Format Type</th>\n      <th>Data Description</th>\n      <th>Reader</th>\n      <th>Writer</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>text</td>\n      <td>CSV</td>\n      <td>read_csv</td>\n      <td>to_csv</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>text</td>\n      <td>JSON</td>\n      <td>read_json</td>\n      <td>to_json</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>text</td>\n      <td>HTML</td>\n      <td>read_html</td>\n      <td>to_html</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>text</td>\n      <td>Local clipboard</td>\n      <td>read_clipboard</td>\n      <td>to_clipboard</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>binary</td>\n      <td>MS Excel</td>\n      <td>read_excel</td>\n      <td>to_excel</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>binary</td>\n      <td>HDF5 Format</td>\n      <td>read_hdf</td>\n      <td>to_hdf</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>binary</td>\n      <td>Feather Format</td>\n      <td>read_feather</td>\n      <td>to_feather</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>binary</td>\n      <td>Msgpack</td>\n      <td>read_msgpack</td>\n      <td>to_msgpack</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>binary</td>\n      <td>Stata</td>\n      <td>read_stata</td>\n      <td>to_stata</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>binary</td>\n      <td>SAS</td>\n      <td>read_sas</td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>binary</td>\n      <td>Python Pickle Format</td>\n      <td>read_pickle</td>\n      <td>to_pickle</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>SQL</td>\n      <td>SQL</td>\n      <td>read_sql</td>\n      <td>to_sql</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>SQL</td>\n      <td>Google Big Query</td>\n      <td>read_gbq</td>\n      <td>to_gbq</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
df1.to_html('df1.html')

In [23]:
!ls

Applications                         access_clean.log
Array.ipynb                          anaconda
Array的inout和output.ipynb           derby.log
Dataframe.ipynb                      df1.csv
Desktop                              df1.html
Documents                            index.html
Downloads                            metastore_db
Library                              one_array.npy
Movies                               part-00001
Music                                seaborn-data
Pandas-DataFrame的IO操作.ipynb       two_array.npz
Pictures                             x.pkl
Public                               深入理解series和DataFrame.ipynb
Series.ipynb                         数组与矩阵运算.ipynb
access.log

In [24]:
df1.to_excel('df1.xlsx')

In [25]:
!ls

Applications                         access_clean.log
Array.ipynb                          anaconda
Array的inout和output.ipynb           derby.log
Dataframe.ipynb                      df1.csv
Desktop                              df1.html
Documents                            df1.xlsx
Downloads                            index.html
Library                              metastore_db
Movies                               one_array.npy
Music                                part-00001
Pandas-DataFrame的IO操作.ipynb       seaborn-data
Pictures                             two_array.npz
Public                               x.pkl
Series.ipynb                         深入理解series和DataFrame.ipynb
access.log                           数组与矩阵运算.ipynb