In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

series reindex

In [3]:
s1 = Series([1,2,3,4], index=['a','b','c','d'])

In [4]:
s1

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
s1.reindex(index=['a','b','c','d','e'], fill_value=10)

a     1
b     2
c     3
d     4
e    10
dtype: int64

In [15]:
s2 = Series(['a','b','c'], index=[1,5,8])

In [16]:
s2

1    a
5    b
8    c
dtype: object

In [19]:
s2.reindex(index=range(15), method='ffill')

0     NaN
1       a
2       a
3       a
4       a
5       b
6       b
7       b
8       c
9       c
10      c
11      c
12      c
13      c
14      c
dtype: object

DataFramereindex

In [24]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]), 
               index=['A','B','C','D','g'], columns=['c1','c2','c3','c4','c5'])

In [25]:
df1

         c1        c2        c3        c4        c5
A  0.820916  0.142523  0.592958  0.622987  0.205976
B  0.787833  0.250992  0.210736  0.111466  0.788380
C  0.840432  0.504415  0.774180  0.728228  0.483849
D  0.482018  0.270876  0.122306  0.436394  0.679560
g  0.252456  0.638060  0.028167  0.714112  0.228309

In [54]:
df1.reindex(index=['A','B','C','D','E'])

         c1        c2        c3        c4        c5
A  0.820916  0.142523  0.592958  0.622987  0.205976
B  0.787833  0.250992  0.210736  0.111466  0.788380
C  0.840432  0.504415  0.774180  0.728228  0.483849
D  0.482018  0.270876  0.122306  0.436394  0.679560
E       NaN       NaN       NaN       NaN       NaN

In [31]:
df1.reindex(index=['A','B','C','D'])

         c1        c2        c3        c4        c5
A  0.820916  0.142523  0.592958  0.622987  0.205976
B  0.787833  0.250992  0.210736  0.111466  0.788380
C  0.840432  0.504415  0.774180  0.728228  0.483849
D  0.482018  0.270876  0.122306  0.436394  0.679560

In [28]:
df1.drop('A', axis=0)

         c1        c2        c3        c4        c5
B  0.787833  0.250992  0.210736  0.111466  0.788380
C  0.840432  0.504415  0.774180  0.728228  0.483849
D  0.482018  0.270876  0.122306  0.436394  0.679560
g  0.252456  0.638060  0.028167  0.714112  0.228309

In [29]:
df1.drop('c1', axis=1)

         c2        c3        c4        c5
A  0.142523  0.592958  0.622987  0.205976
B  0.250992  0.210736  0.111466  0.788380
C  0.504415  0.774180  0.728228  0.483849
D  0.270876  0.122306  0.436394  0.679560
g  0.638060  0.028167  0.714112  0.228309