In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [3]:
s1 = Series(np.random.randn(10))

In [4]:
s1

0   -0.917049
1    0.297366
2    1.551671
3    0.961190
4    0.100402
5   -1.189015
6    0.310784
7   -1.192725
8   -0.542561
9   -0.508422
dtype: float64

In [5]:
s1.values

array([-0.91704946,  0.29736558,  1.55167073,  0.96119048,  0.10040183,
       -1.18901452,  0.31078415, -1.19272538, -0.5425609 , -0.50842182])

In [6]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
s1.sort_values(ascending=False)

2    1.551671
3    0.961190
6    0.310784
1    0.297366
4    0.100402
9   -0.508422
8   -0.542561
0   -0.917049
5   -1.189015
7   -1.192725
dtype: float64

In [9]:
s1.sort_index(ascending=False)

9   -0.508422
8   -0.542561
7   -1.192725
6    0.310784
5   -1.189015
4    0.100402
3    0.961190
2    1.551671
1    0.297366
0   -0.917049
dtype: float64

# DataFrame的排序

In [13]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['a','b','c','d','e'])

In [14]:
df1

          a         b         c         d         e
0 -1.481874  0.463623 -0.278336  0.248913 -0.297516
1 -0.085626 -0.787537  0.594769  1.794650  0.994723
2 -0.472933  2.222980  0.628423 -0.246185 -0.690031
3 -0.268457  1.198783  0.076785 -1.007322 -1.138956
4  0.347379  1.034601 -1.158188 -0.377620 -2.246826
5  0.951870 -0.300156 -0.032580  1.774923 -0.468757
6  3.021240 -1.185422  1.276956 -0.665088  0.227943
7  0.858292  0.278474 -1.572653  0.414297  0.328744

In [15]:
df1['a'].sort_values()

0   -1.481874
2   -0.472933
3   -0.268457
1   -0.085626
4    0.347379
7    0.858292
5    0.951870
6    3.021240
Name: a, dtype: float64

In [18]:
df1.sort_values('a', ascending=False)

          a         b         c         d         e
6  3.021240 -1.185422  1.276956 -0.665088  0.227943
5  0.951870 -0.300156 -0.032580  1.774923 -0.468757
7  0.858292  0.278474 -1.572653  0.414297  0.328744
4  0.347379  1.034601 -1.158188 -0.377620 -2.246826
1 -0.085626 -0.787537  0.594769  1.794650  0.994723
3 -0.268457  1.198783  0.076785 -1.007322 -1.138956
2 -0.472933  2.222980  0.628423 -0.246185 -0.690031
0 -1.481874  0.463623 -0.278336  0.248913 -0.297516