In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
s1 = Series(np.random.randn(6), index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [5]:
s1

1  a   -0.975939
   b   -0.592086
   c    0.716188
2  a   -1.758597
   b   -0.974402
   c    0.176461
dtype: float64

In [6]:
type(s1['1'])

pandas.core.series.Series

In [7]:
s1['1']['a']

-0.97593919884680813

In [8]:
s1[:,'a']

1   -0.975939
2   -1.758597
dtype: float64

In [9]:
df1 = s1.unstack()

In [10]:
df1

          a         b         c
1 -0.975939 -0.592086  0.716188
2 -1.758597 -0.974402  0.176461

In [13]:
s2 = df1.T.unstack()

In [14]:
s2

1  a   -0.975939
   b   -0.592086
   c    0.716188
2  a   -1.758597
   b   -0.974402
   c    0.176461
dtype: float64

In [23]:
df = DataFrame(np.arange(16).reshape(4,4), 
               index=[['a','a','b','b'],[1,2,1,2]], 
               columns=[['bj','bj','gz','sz'],[8,9,8,8]])

In [24]:
df

     bj      gz  sz
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [29]:
df['bj']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [30]:
df['bj'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int64

In [31]:
df['bj'][8]['a']

1    0
2    4
Name: 8, dtype: int64