In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
score_list = np.random.randint(30,100, size=20)

In [5]:
score_list

array([39, 44, 72, 52, 37, 37, 60, 31, 92, 51, 49, 88, 43, 62, 49, 56, 93,
       87, 91, 44])

In [6]:
bins = [0,59,70,80,100]

In [8]:
score_cat = pd.cut(score_list, bins)

In [9]:
pd.value_counts(score_cat)

(0, 59]      12
(80, 100]     5
(59, 70]      2
(70, 80]      1
dtype: int64

In [10]:
df = DataFrame()

In [11]:
df['score'] = score_list

In [12]:
df['student'] = [pd.util.testing.rands(3) for i in range(20)]

In [18]:
df['Categories'] = pd.cut(df['score'], bins, labels=['Low','OK','Good','Great'])

In [19]:
df

    score student Categories
0      39     qUz        Low
1      44     M6i        Low
2      72     6dy       Good
3      52     4sG        Low
4      37     dQs        Low
5      37     QHz        Low
6      60     xAg         OK
7      31     2tE        Low
8      92     QyT      Great
9      51     2YD        Low
10     49     wN8        Low
11     88     vQU      Great
12     43     bSe        Low
13     62     2YS         OK
14     49     HHh        Low
15     56     pW2        Low
16     93     QU3      Great
17     87     Du2      Great
18     91     nLd      Great
19     44     tbG        Low