In [3]:
import pandas_datareader as pdr
alibaba = pdr.get_data_yahoo('BABA')

In [6]:
alibaba.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-09-19  92.699997  99.699997  89.949997  93.889999  93.889999  271879400
2014-09-22  92.699997  92.949997  89.500000  89.889999  89.889999   66657800
2014-09-23  88.940002  90.480003  86.620003  87.169998  87.169998   39009800
2014-09-24  88.470001  90.570000  87.220001  90.570000  90.570000   32088000
2014-09-25  91.089996  91.500000  88.500000  88.919998  88.919998   28598000

In [8]:
alibaba.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [9]:
alibaba.shape

(800, 6)

In [10]:
alibaba.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-11-14,184.300003,184.380005,181.149994,181.789993,181.789993,14475300
2017-11-15,179.369995,181.880005,176.735992,181.479996,181.479996,16567000
2017-11-16,183.309998,186.270004,183.119995,185.429993,185.429993,18389500
2017-11-17,185.919998,186.500000,184.669998,185.130005,185.130005,13377400
2017-11-20,187.600006,190.000000,186.611099,187.190002,187.190002,16611012

In [11]:
alibaba.describe()

,Open,High,Low,Close,Adj Close,Volume
count,800.000000,800.000000,800.000000,800.000000,800.000000,8.000000e+02
mean,100.069592,101.172521,98.803915,99.991112,99.991112,1.681676e+07
std,30.589031,30.753483,30.251180,30.524673,30.524673,1.417836e+07
min,57.299999,58.650002,57.200001,57.389999,57.389999,3.775300e+06
25%,80.085001,81.170002,79.229998,79.990000,79.990000,1.004505e+07
50%,89.675003,90.840000,88.479999,89.285000,89.285000,1.345195e+07
75%,107.094997,108.295002,106.001251,107.297500,107.297500,1.910992e+07
max,190.990005,191.220001,187.000000,188.509995,188.509995,2.718794e+08

In [12]:
alibaba.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 800 entries, 2014-09-19 to 2017-11-20
Data columns (total 6 columns):
Open         800 non-null float64
High         800 non-null float64
Low          800 non-null float64
Close        800 non-null float64
Adj Close    800 non-null float64
Volume       800 non-null int64
dtypes: float64(5), int64(1)
memory usage: 43.8 KB